.cubo {
    border:1px solid #000;
    margin:0px;
}
/*
.dif {
    border-left: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.articulo {
    margin-top: 5%;
    border-bottom: 1px solid black;
}

h2 {
    height: auto;
    width: auto;
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    background-color: black;
    color: whitesmoke;
}
*/
body {
    background-color: grey;
}
