<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   <welcome-file-list>
    <welcome-file>SetUp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>aiss.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestNewsApiClass</servlet-name>
    <servlet-class>selfTest.TestNewsApiClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestNewsApiClass</servlet-name>
    <url-pattern>/TestNewsApiClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelegramBuyController</display-name>
    <servlet-name>TelegramBuyController</servlet-name>
    <servlet-class>pack_forexSim.controller.TelegramBuyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelegramBuyController</servlet-name>
    <url-pattern>/TelegramBuyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUp</display-name>
    <servlet-name>SetUp</servlet-name>
    <servlet-class>pack_forexSim.controller.SetUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUp</servlet-name>
    <url-pattern>/SetUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticiasController</display-name>
    <servlet-name>NoticiasController</servlet-name>
    <servlet-class>pack_forexSim.controller.NoticiasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticiasController</servlet-name>
    <url-pattern>/NoticiasController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>pack_forexSim.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
</web-app>